include mixins
extends ./layout
block content 
  h1.title OpenBook
  
  button#toggle(onclick='showMap()') Map

  div.search-container
    h2.search Search by name or genre
    form(action="/openbook/search/results", method="get")
      input(id="search", type="text", name="search", value="", placeholder="eg. brick lane, lgbtq, history") 
      input(id="submit-search", type="submit", value="Search")
  
  - if (bookshops.length == 0) {
      p(id='no-results-found') No results found
  - } 
  
  - if (searched) {
      p#no-results-found #{bookshops.length} results found 
  - }

  - for (let i = 0; i < bookshops.length; i++) {
    - if (((i == 0) || ((i +1) % 5 == 0)) && (i + 4 < bookshops.length)) {
      div.container
        div(class="row shop-row")
          - for (let c = 0; c < 5; c ++) {
              +column(i+c)
          -}
    - } else if ((i == 0) || ((i + 1) % 5 == 0)) {
      -const counter = bookshops.length - i
      div.container
        div(class="row shop-row")
          - for (let c = 0; c < counter; c ++) {
            +column(i+c)
          -}
     -} 
  - }
    

    div.hide-map(id="map", style="width: 100%; height: 500px; border-radius: 5px")
    
    script(src='js/map.js')

