block content 
  h1 OpenBook
  div(class="bookshop-container", id="Gaystheword")
    h2(class='bookshop-name') Gay's the Word
    a(class='website-link', href="http://gaystheword.co.uk") Visit Website
    p(class='bookshop-address')
      | 66 Marchmont Street 
      br
      | London 
      br
      | WC1N 1AB

    h3(class='opening-hours') Opening hours
      h4(class='times') Monday - Saturday: 11am - 6pm
        br
        | Sunday: 1pm - 6pm
      h5(class='tags') #LGBT
     
  div(class="bookshop-container", id="Roundtablebooks")
    h2(class='bookshop-name') Round Table Books
    a(class='website-link', href="https://www.roundtablebooks.co.uk/") Visit Website
    p(class='bookshop-address')
      | 97 Granville Arcade
      br
      | Coldharbour Lane 
      br
      | Brixton 
      br
      | London 
      br
      | SW9 8PS
      
    h3(class='opening-hours') Opening hours
      h4(class='times') Sunday - Friday: 11am - 5:30pm
        br
        | Saturday: 9:30am - 5:30pm

      h5(class='tags') #Children #Black
