include mixins
extends ./layout
block content 
  h1.title OpenBook
  h2.search Search

  form(action="/openbook/search/results", method="get")
    input(id="search", type="text", name="search", value="") 
    input(id="submit-search", type="submit", value="Search")


  button(onclick='showMap()') Map

  - for (let i = 0; i < bookshops.length; i++) {
    - if (((i == 0) || ((i +1) % 5 == 0)) && (i + 4 < bookshops.length)) {
        div(class="row")
          - for (let c = 0; c < 5; c ++) {
              +column(i+c)
          -}
    - } else if ((i == 0) || ((i + 1) % 5 == 0)) {
      -const counter = bookshops.length - i
      div(class="row")
        - for (let c = 0; c < counter; c ++) {
          +column(i+c)
        -}
     -} 
  - }
    

    div.hide(id="map", style="width: 100%; height: 500px; border-radius: 5px")
    
    script(src='js/map.js')

