block content 
  h1 OpenBook
  div(class="bookshop-container", id="Gaystheword")
    h3(class='bookshop-name') Gay's the Word
    p(class='bookshop-address')
      | 66 Marchmont Street 
      br
      | London 
      br
      | WC1N 1AB
  
  div(class="bookshop-container", id="Roundtablebooks")
    h3(class='bookshop-name') Round Table Books
