block content 
  h1 OpenBook
  div(class="bookshop-container", id="Gaystheword")
    h3(class='bookshop-name') Gay's the Word
    a(class='website-link', href="http://gaystheword.co.uk") Visit Website
    p(class='bookshop-address')
      | 66 Marchmont Street 
      br
      | London 
      br
      | WC1N 1AB
    img(src="/images/gays_the_word_map.png", width='50px')
      h5(class='tags') #LGBT
     
  div(class="bookshop-container", id="Roundtablebooks")
    h3(class='bookshop-name') Round Table Books
    a(class='website-link', href="https://www.roundtablebooks.co.uk/") Visit Website
    p(class='bookshop-address')
      | 97 Granville Arcade
      br
      | Coldharbour Lane 
      br
      | Brixton 
      br
      | London 
      br
      | SW9 8PS
    img(src="/images/round_table_books_map.png", width='50px')
      h5(class='tags') #Children #Black
      