include mixins
extends ./layout
block content 
  nav.navbar.navbar-expand-lg.bg-light
    .container-fluid
      a.navbar-brand(href='#') OB
      button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link.active(aria-current='page', href='#') Home
          li.nav-item
            a.nav-link.search-link(href="/openbook/search") Search
          li.nav-item
            a.nav-link(href='#') Donations

  h1.title OpenBook

  div.search-container
    h2.search Search by name or genre
    form(action="/openbook/search/results", method="get")
      input(id="search", type="text", name="search", value="", placeholder="eg. brick lane, lgbtq, history") 
      input(id="submit-search", type="submit", value="Search")
  
  - if (bookshops.length == 0) {
      p(id='no-results-found') No results found
  - }
    

  - for (let i = 0; i < bookshops.length; i++) {
    - if (((i == 0) || ((i +1) % 5 == 0)) && (i + 4 < bookshops.length)) {
        div(class="row")
          - for (let c = 0; c < 5; c ++) {
              +column(i+c)
          -}
    - } else if ((i == 0) || ((i + 1) % 5 == 0)) {
      -const counter = bookshops.length - i
      div(class="row")
        - for (let c = 0; c < counter; c ++) {
          +column(i+c)
        -}
     -} 
  - }
    
    div(id="map", style="width: 100%; height: 500px; border-radius: 5px")
      script(src='js/map.js')