h1 Sign Up Page

form(action='/sessions/new', method='post')
	input(id='email', type='text', value='')
	input(id='password', type='password', value='')
	input(id='sign-up-button', type='submit', value='Sign Up')