@font-face {
  font-family: 'LemonMilk';
  src: url('../fonts/LemonMilk.otf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #5c715e;
  --secondary-color: #b6cdbd;
  --tertiary-color: #ddeedf;
  --background-color: #f2f9f1;
  --heading-font: 'LemonMilk';
  --body-font: 'Catamaran', sans-serif;
}

body {
  background-color: var(--background-color);
}

/* dark theme alt */

/* change background color */
body.dark {
  background-color: #2c4350;
}

body.dark h1.title {
  color: var(--tertiary-color);
}

body.dark h2.heading {
  color: #bac1be;
}

body.dark .bookshop-container {
  background-color: var(--primary-color);
  border: 2px solid var(--tertiary-color);;
  border-radius: 4px;
  box-shadow: 6px 5px 5px;
  padding: 20px 20px;
}

body.dark #toggle {
  border: 2px solid var(--tertiary-color);;
  border-radius: 4px;
  box-shadow: 6px 5px 5px black;
}


body.dark .bookshop-name {
  color: var(--tertiary-color);
}

body.dark .search {
  color: var(--tertiary-color);
}
body.dark .opening-hours {
  color: var(--tertiary-color);
}
body.dark .times {
  color: var(--tertiary-color);
}

body.dark p.bookshop-address {
  color: var(--tertiary-color);
}

body.dark p.bookshop-address {
  color: var(--tertiary-color);
}

body.dark .search-submit {
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  box-shadow: 4px 4px 5px black;
  transition: ease-in-out 250ms;
}

body.dark .bookshop-name:visited:hover {
  color:  #9fada7;
}

/*end of dark theme  */

.theme {
  display: flex;
  position:absolute;
  left: 30px;
  top: 20px;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  transition: background 0.2s linear;
}

.checkbox {
  opacity: 0;
  position:absolute;
}

.label {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: 50px;
  position: relative;
  height: 26px;
  width:50px;
  transform: scale(1.5);
}

.ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}


.fa-moon {
  color: #f39c12;
}

.fa-sun {
  color: #f39c12;
}

/*until here*/
.title {
  color: var(--primary-color);
  font-family: var(--heading-font);
  font-size: 70px;
  margin: 150px 0 15px 0;
  text-align: center;
}

.heading {
  color: var(--primary-color);
  font-family: var(--body-font);
  font-size: 18px;
  opacity: 0.8;
  text-align: center;
}

.bookshop-name {
  color: var(--secondary-color);
  font-family: var(--heading-font);
  font-size: 16px;
  text-decoration: none;
  transition: ease-in-out 200ms;
}

.bookshop-name:hover {
  color: var(--primary-color);
}

.bookshop-name:visited {
  color: var(--secondary-color);
}

.bookshop-name:visited:hover {
  color: var(--primary-color);
}

.bookshop-name:focus {
  outline: none;
}

.row {
  padding: 0;
}

.bookshop-container {
  background-color: white;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  box-shadow: 6px 5px 5px #ddeedf;
  padding: 20px 20px;
  margin: 30px 20px 30px 0;
  max-width: 240px;
}


.bookshop-address {
  color: var(--primary-color);
  font-family: var(--body-font);
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 0;
}

.opening-hours {
  color: var(--primary-color);
  font-family: var(--body-font);
  font-size: 17px;
  font-weight: 800;
  text-align: left;
}

.times {
  color: var(--primary-color);
  font-family: var(--body-font);
  font-size: 12px;
  margin-top: 5px;
  text-align: left;
}

.title-row {
  height: 50px;
  padding: 0;
}

.shop-row {
  justify-content: space-between;
  padding: 0;
}

.mapboxgl-popup {
  text-align: center;
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }

.address-row {
  height: 130px;
}

.hide-map {
  display: none;
}

.hide-list {
  display: none;
}

#toggle {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  box-shadow: 6px 5px 5px #ddeedf;
  color: var(--tertiary-color);
  font-family: var(--heading-font);
  font-size: 25px;
  padding: 4px 8px;
  position: fixed;
  top: 100px;
  right: 100px;
  
  margin-left: 100px;
  margin-bottom: 50px;
  transition: ease-in-out 200ms;
}

#toggle:hover {
  background-color: var(--tertiary-color);
  border: 1px solid var(--tertiary-color);
  color: var(--primary-color);
}

.marker {
  background-image: url('./images/location.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#no-results-found {
  font-family: var(--heading-font);
  text-align: center;
  padding: 20px 20px;
  color: var(--primary-color);
  font-size: 20px;
}

.search-container {
  font-family: var(--body-font);
  margin-top: 100px;
  
}

.search {
  color: var(--primary-color);
  font-family: var(--heading-font);
  font-size: 25px;
}

.search-input::placeholder {
  color: var(--primary-color);
  background-color: var(--background-color);
  opacity: 0.7;
}

.search-input{
  background-color: var(--background-color);
  border: none;
  border-bottom: 1px solid #5c715e;
  color: var(--primary-color);
  margin-right: 25px;
  width: 230px;
}

.search-input:focus {
  outline: none;
}

.search-submit {
  color: var(--primary-color);
  background-color: var( --secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 3px;
  box-shadow: 6px 5px 5px #ddeedf;
  font-size: 18px;
  font-weight:bold;
  padding:10px, 20px;
  transition: ease-in-out 250ms;
}

.search-submit:hover {
  color: var(--tertiary-color);
  background-color: var( --primary-color);
  border: 1px solid var(--primary-color);
}

.search-form {
  margin-top: 20px;
  margin-left: 5px;
}

.search-row {
  padding: 0;
}

.address-row {
  height: 180px;
  margin-top: 10px;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}
