@font-face {
  font-family: 'LemonMilk';
  src: url('../fonts/LemonMilk.otf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #5c715e;
  --secondary-color: #b6cdbd;
  --tertiary-color: #ddeedf;
  --background-color: #f2f9f1;
  --heading-font: 'LemonMilk';
  --body-font: 'Catamaran', sans-serif;
}

body {
  background-color: var(--background-color);
}

.title {
  color: var(--primary-color);
  font-family: var(--heading-font);
  font-size: 70px;
  margin: 60px 0 70px 0;
  text-align: center;
}

.bookshop-name {
  color: var(--secondary-color);
  font-family: var(--heading-font);
  font-size: 16px;
  text-decoration: none;
  transition: ease-in-out 200ms;
}

.bookshop-name:hover {
  color: var(--primary-color);
}

.bookshop-name:visited {
  color: var(--secondary-color);
}

.bookshop-name:visited:hover {
  color: var(--primary-color);
}

.row {
  padding: 0 20px;
}

.bookshop-container {
  background-color: white;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  padding: 20px 20px;
  margin: 30px 20px 30px 0;
 
}

.bookshop-address {
  font-family: var(--body-font);
  font-size: 17px;
  margin-top: 20px;
}

.opening-hours {
  font-family: var(--body-font);
  font-size: 17px;
  margin-top: 15px;
  text-align: left;
}

.times {
  font-family: var(--body-font);
  font-size: 12px;
  margin-top: 5px;
  text-align: left;
}

.title-row {
  height: 50px;
}

.address-row {
  height: 130px;
}