@font-face {
  font-family: 'LemonMilk';
  src: url('../fonts/LemonMilk.otf');
  font-weight: normal;
  font-style: normal;
}
:root {
  --primary-color: #5c715e;
  --secondary-color: #b6cdbd;
  --tertiary-color: #ddeedf;
  --background-color: #f2f9f1;
  --heading-font: 'LemonMilk';
  --body-font: 'Catamaran', sans-serif;
}

h1 {
  color: var(--primary-color);
  font-family: var(--heading-font);
  margin: 50px;
  text-align: center;
}